.q-drawer {
  
    .q-item {
        opacity: 0.6;
    
  &.q-router-link--exact-active {
    opacity: 1;
    color: rgb(255, 36, 73);
    }
  }
}


.row {
    flex-wrap: nowrap;
}

.drawer {
    padding-left: 9rem;
}

.header {
    padding-left: 9rem;
}

.top-border {
  border-top: 1px solid rgba(255,255,255,0.3);
}

.experience-section {
    max-width: 1000px;
}

.q-layout-padding {
    padding: 24px;
    padding-top: 0; 
}
