@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'src/css/quasar.variables.scss';

.q-drawer {
    .q-item {
        opacity: 0.8;
  &.q-router-link--exact-active {
    opacity: 1;
    background-color: white;
    }
  }
}

/* e.g. in src/css/app.scss or quasar.variables.scss */




html,
body,
#q-app {
  background-color: $primary !important;
}

.drawer {
    padding-left: 9rem;
}

.header {
    padding-left: 9rem;
}

.q-toolbar {
    padding-left: 0;
}

.top-border {
  border-top: 1px solid rgba(255,255,255,0.3);
}

.experience-section {
    max-width: 950px;
}

.q-layout-padding {
    padding-top: 0; 
}

.surname {
    font-weight: bold;
    font-size: larger;
}

.bullet-points {
    max-width: 40rem;
    padding-left: 5rem;
    font-size: 0.93rem;
}

.arrow-outward-icon {
    font-size: x-small;
    padding-left: 0.2rem;
    padding-bottom: 0.3rem;
}

:v-deep .q-header {
    transition-duration: 0.3s !important;
}

:v-deep .q-drawer,
:v-deep .q-header {
    transition-timing-function: ease-out !important;
}

.project-row {
    display: flex !important;
    flex-wrap: wrap;
}

.my-tooltip {
  --q-tooltip-bg: #fff !important;
  --q-tooltip-color: #000 !important;
  background-color: #000;
  font-family: 'Press Start 2P', monospace;
  font-size: 0.5rem;
  padding: 0.6rem 1rem !important;
  border-radius: 0 !important;
  text-align: center;
}

.code-container {
  color: #dcdcdc;
  padding-bottom: .75rem;
  height: 250px; 
  width: 100%; 
  margin-top: -0.5rem; 
  font-size: 0.7rem;
}

.project-gif {
    max-width: 750px;
}

.scroll {
    overflow: hidden;
}