@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'src/css/quasar.variables.scss';

.q-drawer {
    .q-item {
        opacity: 1;
  &.q-router-link--exact-active {
    opacity: 1;
    background-color: white;
    }
  }
}

html {
  color: var(--site-text, #fff);
}

.theme-default {
  --site-bg: #161f27 ; 
  --site-text: #fff;
}

.theme-illustrations {
  --site-bg: #fff !important;
  --site-text: #000 !important;
}

.theme-illustrations .q-layout__section--marginal  {
  background-color: var(--site-bg) !important;
  color: #000;
}

.theme-illustrations .text-white {
  color: var(--site-text) !important;
}

.drawer {
    padding-left: 9rem;
}

.header {
    padding-left: 9rem;
}

.q-toolbar {
    padding-left: 0;
}

.top-border {
  border-top: 1px solid rgba(255,255,255,0.3);
}

.experience-section {
    max-width: 950px;
}

.q-layout-padding {
    padding-top: 0; 
}

.surname {
    font-weight: bold;
    font-size: larger;
}

.bullet-points {
    margin-top: 0.2rem;
    padding-left: 2rem;
    font-size: 0.92rem;
    line-height: 1.2rem;
}

.bullet {
    margin-top: 0.9rem;
}

.arrow-outward-icon {
    font-size: x-small;
    padding-left: 0.2rem;
    padding-bottom: 0.3rem;
}

:v-deep .q-header {
    transition-duration: 0.3s !important;
}

:v-deep .q-drawer,
:v-deep .q-header {
    transition-timing-function: ease-out !important;
}

.project-row {
    display: flex !important;
    flex-wrap: wrap;
}

.my-tooltip {
  --q-tooltip-bg: #fff !important;
  --q-tooltip-color: #000 !important;
  background-color: #000;
  font-family: 'Press Start 2P', monospace;
  font-size: 0.5rem;
  padding: 0.6rem 1rem !important;
  border-radius: 0 !important;
  text-align: center;
}

.code-container {
  height: 350px; 
  margin-top: -0.5rem; 
  font-size: 0.7rem;
}

.project-gif {
    max-width: 750px;
}

.theme-default,
.theme-illustrations {
  background-color: var(--site-bg) !important;
  color: var(--site-text) !important;
}

.theme-illustrations .q-drawer,
.theme-illustrations .q-drawer__content,
.theme-illustrations .q-card,
.theme-illustrations .q-item,
.theme-illustrations .q-page,
.theme-illustrations .q-page-container {
  background-color: var(--site-bg) !important;
  color: var(--site-text) !important;
}

.theme-illustrations .top-border {
  border-top: 1px solid #6c7781 !important;
}

.theme-illustrations .q-item:hover,
.theme-illustrations .essential-contact:hover {
  background-color: black !important;
  color: white !important;
}

.theme-illustrations .q-item:hover .q-item__label,
.theme-illustrations .essential-contact:hover .q-item__label {
  color: white !important;
}

/* active / exact-active link */
.theme-illustrations .q-item.q-router-link--exact-active,
.theme-illustrations .q-item.q-router-link--active {
  background-color: black !important;
  color: white !important;
}

.theme-illustrations a.q-item.q-router-link--exact-active .q-item__label {
  color: white !important;
}

.theme-illustrations .essential-contact.q-item--clickable.q-hoverable:hover,
.theme-illustrations .essential-contact.q-item--clickable.q-hoverable:hover > .q-item__section {
  background-color: black !important;
  transition-duration: 0s !important;
  font-weight: bold;
}

/* force the labels inside to be white on hover */
.theme-illustrations .essential-contact:hover .q-item__label {
  color: white !important;
}
.theme-illustrations .essential-contact:hover .arrow-outward-icon {
  color: white !important;
}

html, body, #q-app {
  background-color: var(--site-bg, #161f27);
  color: var(--site-text, #fff);
  min-height: 100%; /* ensure full height */
}

.info {
  font-size: 0.9rem;
  color: black;
}

.sub {
  color: #6B7C94;
  font-size: small;
  font-weight: 400;
  padding-left: 0.6rem;
}

.invisi {
  opacity: 0;
  margin-top: 0.5rem;
}

.projects-wrapper {
  margin-top: -0.3rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  border-color: rgb(196, 196, 196);
}

.code-journal-icon {
  font-size: 1.9rem;
  font-weight: 900;
}

.project-info {
  flex: 1 1 auto;
  min-width: 0;
}

.project-title {
  font-size: 1.55rem;
  font-weight: 600;
  margin-top: auto;
  margin-left: 0.3rem;
}

.project-title-window {
  font-size: 1rem;
  padding-left: 0.8rem;
}

.project-tagline {
  font-size: 0.95rem;
  line-height: 1.4;
  
}

.project-body {
  display: flex;
  gap: 1rem;
}

.project-body-left {
  flex: 0 1 50%;
  
}

.feature-list {
  list-style: none;
  margin-left: -1rem;
}

.feature-list li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.project-demo {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.project-gif {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.project-video {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.full-width-expansion {
  margin-left: -1rem;
  margin-right: -1rem;
}

.separator {
  margin-left: -1rem;
  margin-right: -1rem;
}

.project-code {
  background-color: #ECF2F8;
}

.code-container {
  height: 350px;
  margin-top: -0.5rem;
  font-size: 0.7rem;
}

.prism-block {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.3rem;
  font-family: sans-serif;
  background-color: #ECF2F8;
}

.carousel-wrapper {
  width: 100%;
  
}

.q-carousel__slide,
.q-carousel .q-carousel--padding {
  padding: 0px;
}

.stacked-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stacked-layout .project-body-left,
.stacked-layout .project-demo {
  flex: 0 0 auto;
}

.stacked-layout .project-body-left {
  width: 100%;
  margin-top: 0rem;
}

.stacked-layout .project-demo {
  padding: 0rem;
  margin-bottom: 1rem;
}

.project-header {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  background: var(--q-color-grey-1);
  background-color: #263442; 
  color: white;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
}

.project-icon {
  height: auto;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.8rem;
}

.prism-block {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.3rem;
  font-family: sans-serif;
  background-color: #ECF2F8;
}

.info-code {
  font-size: 0.9rem;
  color: black;
  padding: 0;
  padding-left: 1.2rem;
}

@media (max-width: 360px) {
  .project-header {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .project-body {
    flex-direction: column;
    padding-top: 0;
  }
  
  .project-video {
    align-self: center;
    width: 100%;
    max-width: 100%;
    margin-top: -1rem;
  }
}

@media (max-width: 900px) {
    .experience-section {
      margin-left: -0.7rem; 
      margin-bottom: 2.5rem;
    }

    .bullet-points {
      width: 100%;
    }

    .bullet {
      width: 105%;
    }
}